*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  line-height: $lh-body;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: $text;
  background: $bg;
  font-family: $font-body;
  font-weight: $weight-normal;
  font-size: $size-body;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  color: $primary;
  outline: none;
  text-decoration: none;

  &:focus,
  &:hover,
  &:active,
  &.active {
    color: $primary-dark;
  }
}