<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="theme-color" content="#fff">
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.publicUrl %>/favicon.ico">
  </head>
  <body></body>
</html>